mixin img(imgSrc, imgAlt, imgClass)
    img(src='#{imgSrc}', alt='#{imgAlt}', class='#{imgClass}')

mixin img-custom-dimensions(imgSrc, imgAlt, imgWitdh, imgHeight, imgClass)
    img(src='#{imgSrc}', alt='#{imgAlt}', width='#{imgWitdh}', height='#{imgHeight}',class='#{imgClass}')